<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625508812514-t92m6o2qtns7fd8aileedslcq870uai2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625508812514-t92m6o2qtns7fd8aileedslcq870uai2</string>
	<key>API_KEY</key>
	<string>AIzaSyDBwvlyJ5aVACuA-sy-pSwuK3XcjjrkFT4</string>
	<key>GCM_SENDER_ID</key>
	<string>625508812514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kanban</string>
	<key>PROJECT_ID</key>
	<string>kanban-manager-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>kanban-manager-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625508812514:ios:10b5ec1ebe8454d69280bb</string>
</dict>
</plist>